.image-dashboard_header {
  margin-bottom: 40px;

}

.new-image-modal {
  width: 600px;
  padding: 20px;
  position: absolute;
  background-color: white;
  border: 1px solid #dfdfdf;
  left: calc(50% - 300px);
  top: 10vh;
}