.page-header-actions {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & > * {
    margin-right: 20px;
    cursor: pointer;
  }

  .header-action-icon {
    font-size: 20px;
  }
}