.featured-products-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; }
  .featured-products-content > a {
    text-decoration: none;
    color: #212121; }
  .featured-products-content .featured-products-item {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 15px; }
    .featured-products-content .featured-products-item .item-image {
      width: 200px; }
      .featured-products-content .featured-products-item .item-image > img {
        max-width: 200px;
        height: auto;
        margin: 0 auto; }
    .featured-products-content .featured-products-item .item-name {
      font-size: 18px;
      font-weight: 600; }
    .featured-products-content .featured-products-item:hover {
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
      border-radius: 10px; }
