$color-theme: #0d47a1;
$color-theme-dark: #002171;
$color-theme-darker: #000d21;
$color-theme-light: #5472d3;
$color-header: #ffffff;
$color-dark-gray: #212121;
$color-light-gray: #dfdfdf;
$color-text-light: #f5f5f5;
$color-text-dark: #212121;
$color-background: #fafafa;