@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  background: #fafafa;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }
